#homepage-header {
    background-color: violet;
    color: red;
    text-align: center;
    height: 50px;
    padding: 10px 10px 0px;
    width: 300px;
    margin: 10px auto;
}

#homepage {
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(3, 13, 46);
    box-sizing: border-box;
}

.homepage-list {
    color: white;
    padding: 20px;
    margin: 0px;
}

.homepage-list li {
    display:inline-block;
    border: 2px solid yellow;
    background-color:red;
    padding: 4px;
}
.homepage-list li:hover {
    background: darkred;

}

#homepage-list-container {
    padding: 10px;  
    background-color: black;

}

body {
    background-color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h3 {
    text-align: center;
}

p,
li {
    font-size: 20px;
}

li {
    margin: 10px;
}

p {
    background-color: darkblue;
    margin: 5px;
}

ul, ol {
    background-color: darkred;
}
